{% extends 'base.html' %}

{% block title %} Contact {% endblock title %}

{% block body %}

<div class="container-fluid px-0 mb-3">
    <img src="/static/img/1.jfif.jpg" style="width: 1200px; height:400px;" class="d-block w-100 mx-0" alt="...">
</div>
<div class="container mb-3 py-4">
    <h1 class="text text-center">Contact Us</h1>

    <form method="post" action="/contact">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">

        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">

            {% comment %} <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password"
                    placeholder="Enter your password">
            </div> {% endcomment %}
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter your phone number ">

        </div>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    {% endblock body %}